



.select-option-part label {
  color: #707070;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 14px;
}

.select-option-part {
  margin-bottom: 35px;
}

.select-option-part select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-expand: none;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  color: #828282;
  font-size: 14px;
  height: 43px;
  padding-left: 20px;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0) url("../../assets/img/icon-img/1.png") no-repeat scroll right 20px center;
}
select::-ms-expand {
    display: none;
}


@media (min-width: 300px) {

  
}



.cart-plus-minus {
  border: 1px solid #f68B1E;
  overflow: hidden;
  padding: 5px 5px 5px 5px;
  width: 80px;
  height: 40px;
  font-size: large;
  text-align: center;
}
.quickview-plus-minus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 5px;
}
.quick-view-number > span {
  color: #808080;
  display: block;
  font-size: 14px;
  margin: 3px 0 0 10px;
}
.quickview-btn-cart > a {
  background-color: #f68B1E;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.08px;
  line-height: 1;
  padding: 17px 35px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.quickview-btn-wishlist > a:hover {
  border: 1px solid transparent;
}
.quickview-btn-cart {
  margin: 0 30px;
}
.qtybutton {
  font-weight: bolder;
}
.price {
  margin: 9px 0 8px;
}

/*---------- 14. product details --------*/

.product-details-small a:last-child {
  margin-right: 0px;
  
}
.product-details-large .easyzoom > a img {
  width: 100%;
  
}
.pro-stick .easyzoom.easyzoom--overlay > a img , .single-details-gallery .easyzoom.easyzoom--overlay > a img , .details-9 .easyzoom.easyzoom--overlay > a img {
  width: 100%;
}
.product-details-small a > img {
  width: 100%;
 
  

  
}
.product-details-small.main-product-details a > img {
  width: 150px;
  padding: 5px;
  
  
}
.product-details-small.main-product-details a {
  margin-bottom: 10px;
  
}
.product-details-small > a.active {
  position: relative;
}
.product-details-small > a.active:before {
  background: rgba(0, 0, 0, .15) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 400ms ease-in 0s;
  transition: all 400ms ease-in 0s;
  z-index: 10;
}
.product-details-content > h3 {
  color: hsl(0, 0%, 13%);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 13px;
}
.details-price > span {
  color: #f68B1E;
  font-size: 24px;
  font-weight: 600;
}
.product-details-content .rating-number {
  margin-bottom: 5px;
}
.product-details-content  .showcase-rating{
  display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
color: var(--sandy-brown);
font-size: 17px;


}

.product-details-content > p {
  color: #545454;
  width: 100%;
}
.details-price {
  margin-bottom: 25px;
}
.product-cat-tag li , .product-share li {
  display: inline-block;
  text-decoration: none;
 
  margin-right: 14px;
}
.product-cat-tag li a {
  text-transform: capitalize;
  text-decoration: none;
  color:  hsl(0, 0%, 13%);

}

.product-cat-tag li.categories-title {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  font-weight: bolder;
  color:  hsl(0, 0%, 13%);
}
.product-share > ul li {
  margin-right: 15px;
  display: inline-block;
  margin-right: 14px;
}
.product-share > ul li a {
  border: 1px solid #3f3f3f;
  border-radius: 50px;
  color: #585858;
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 30px;
}
.product-share > ul li a:hover {
  border: 1px solid #ee3333;
  background-color: #ee3333;
  color: #fff;
}
.product-share > ul li a i {
  line-height: 28px;
}
.product-categories.product-cat-tag {
  margin: 34px 0 15px;
}
.product-tags.product-cat-tag {
  margin-bottom: 22px;
}
.description-review-title {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 44px;
}
.description-review-title a {
  color: #e0e0e0;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 20px;
}
.description-review-title a.active {
  color: #000;
  font-size: 1.3rem;
}
.description-review-text .tab-pane p {
  color: #000;
  font-size: 15px;
  margin: 0 auto;
  width: 100%;
}
#pro-review a {
  background-color: #282828;
  border: 0 none;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 10px 15px;
  text-shadow: none;
  text-transform: uppercase;
}


@media (min-width: 300px) {
.product-details-small.main-product-details a > img {
  align-items: center;
  width: 4rem;
  padding: 5px;
}
}

@media (min-width: 380px) {
  .product-details-small.main-product-details a > img {
    align-items: center;
    width: 5.2rem;
    padding: 5px;
  }
  }

  
@media (min-width: 480px) {
  .product-details-small.main-product-details a > img {
    align-items: center;
    width: 6rem;
    padding: 5px;
  }
  }

  @media (min-width: 570px) {
    .product-details-small.main-product-details a > img {
      align-items: center;
      width: 7.5rem;
      padding: 5px;
    }
    }
  












































